/*MAPS*/
$mapRedes: (
    correo: #F9F3DF,
    insta:#FDFCE5 ,
    cel:#D7E9F7,
);

@each $red,
$color in $mapRedes {
    .#{$red} {
    background-color: $color;
}

}

/* MAP - GET*/
$estilo: (
    color: #F9F3DF,
    tamFuente:20px
);

.pepeLePu {
    background-color: map-get($map: $estilo, $key: color);
    font-size: map-get($map: $estilo, $key: tamFuente);
}